<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <!-- Output format -->
          <Format>cobertura</Format>

          <!-- Exclude common noise: BCL/framework, test libs, and migrations -->
          <Exclude>
            [xunit.*]*,[Moq]*,[FluentAssertions]*,
            [System.*]*,[Microsoft.*]*,[netstandard]*,
            [*]Migrations.*,
            Project.Infrastructure.Migrations*,
          </Exclude>
          

          <!-- Only include your product assemblies (adjust if needed) -->
          <Include>
            [Project.Domain]*,
            [Project.Application]*,
            [Project.Infrastructure]*,
            [Project.Api]*,
          </Include>


          <!-- Exclude by attribute: anything marked as generated/non-user/ignored -->
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>

          <!-- Exclude by file: code-behind, generated, designer, assembly attrs, and the Regex generator -->
          <ExcludeByFile>
            **/*.g.cs,**/*.g.i.cs,**/*/*.g.cs,**/*/*.g.i.cs,
            **/*Designer.cs,**/*designercs,
            **/*AssemblyInfo.cs,**/*.AssemblyAttributes.cs,
            **/bin/**,**/obj/**,
            Project.Infrastructure/Migrations/**,
            **/System.Text.RegularExpressions.Generated*,
            **/System.Text.RegularExpressions.Generator/**, 
            **/System.Text.RegularExpressions/**/RegexGenerator*.g.cs,
            **/*Module.cs,
            **/Migrations/**/*.cs,
            **/Database/**.cs,
            **/Domain/**/*EntityTypeConfiguration.cs,
            **/SeedWork/*Converter*.cs
          </ExcludeByFile>

          <!-- Useful flags -->
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
          <SkipAutoProps>true</SkipAutoProps>
          <ExcludeAssembliesWithoutSources>MissingAll,MissingAny,None</ExcludeAssembliesWithoutSources>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
